requests
bs4
colorama
cloudscraper
python-socketio[client]
websocket-client
faker
pyfiglet
portalocker
httpx[http2]
tqdm
psutil
pycryptodome
cryptography
pyarmor
cookiejar
user_agent
