requests
requests[socks]
cookiejar
bs4
setuptools
python-socketio
python-websocket
faker
pyfiglet
colorama
requests_toolbelt
cython
urllib3
websocket-client
cloudscraper
beautifulsoup4
fake-useragent
user-agent
pycryptodome
httpx[http2]
